div#background-layer
main
  .row
    .col-md-12#header
        img(src="landingpage/assets/images/artiverse_logo.png")
  .row
    .col-md-12#description
      span
        | The new Art-Network to connect artists and followers.
  .row
    .col-md-12#subscribe
      span
        | Subscribe to our newsletter to stay tuned.
      form
        input.form-control(type="text" placeholder="Name")
        input.form-control(type="email" placeholder="E-Mail")
        button.btn.btn-primary(type="submit")
          | Subscribe
